/* PRESETS */
li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* MAIN */
nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    min-height: 9dvh;
    width: 100%;
    padding: 1dvh 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav::before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    height: 9dvh;
    padding: 1dvh 0;
    width: 100%;

    background: url('../../assets/images/main/accent-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    filter: blur(1px);
    z-index: 0;
}

nav * {
    z-index: 1;
}

ul {
    padding: 0;
    margin: 0;
}

/* CATEGORIES */
#title {
    font-size: clamp(1.25rem, 1.007rem + 1.04vw, 2.25rem);
    text-align: center;
}

#routers, #socials {
    display: flex;
    justify-content: center;
    width: 30%;
    gap: clamp(0.5rem, 0.136rem + 1.55vw, 2rem);
}

#routers a {
    font-size: clamp(0.5rem, 0.379rem + 0.52vw, 1rem);
}


/* ANIMATIONS */
#title {
    transition: .45s transform;
}

#routers a, #socials a {
    transition: .35s all    
}

#routers a:hover, #socials a:hover {
    color: turquoise;
}

#title:hover, #title:active {
    transform: perspective(1000px) rotateX(-15deg) translateY(-2px);
}

/* SCROLL */
@keyframes changeOpacity {
    to { opacity: .1; }
}

@keyframes changeColor {
    to { background-color: black; }
}

@keyframes fadeBoxShadow {
    to { box-shadow: 0 0 8px 2px rgb(5, 5, 5); }
}

nav::before {
  animation: changeOpacity linear both;
  animation-timeline: scroll(root); 
  animation-range: 0px 250px; 
}

nav {
    animation: changeColor linear both, fadeBoxShadow linear both;
    animation-timeline: scroll(root); 
    animation-range: 0px 150px, 100px 250px; 
}
